@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    
}
body{
    background-color: hsl(210, 60%, 98%);
    display: flex;
    flex-direction: column;
    /* height: 950px; */
    justify-content: center;
    align-items: center;
    padding: 2rem;
    box-sizing: border-box;
    font-family: Plus Jakarta Sans;
    gap: 0.5em;
}

.container{
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 3%;
    box-sizing: border-box;

}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1rem;

}

h1{
    color: hsl(223, 25%, 23%);
    font-size: 2rem;
    padding-bottom: 1rem;
}

.num3{
    background-color:  hsl(219, 85%, 26%);
    color: white;
    border-radius: 20%;
    margin: 1rem;
    font-size: large;
    padding: 0.4rem 1rem;
    

}
h3{
    color: hsl(219, 12%, 42%);
}

.message{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between;
    column-gap: 1rem; */
}

p{
    display: inline-block;
    color:   hsl(219, 12%, 42%);

    
}

div{
    display: flex;
    min-height: 5rem;
    background-color:  hsl(0, 0%, 100%);
    margin: 0.2rem;
    align-items: center;
    justify-items: center;
    border-radius: 0.7rem;
    width: 45rem;

   
}
img{
    padding: 0 1.5rem;
    width: 4rem;
    
   
}

.name{
    color: hsl(223, 25%, 23%);
    /* font-weight: 900; */
    font-size: 17px;
}

.gray{
    background-color: hsl(210, 60%, 98%);
}

.rizky{
    border: 3px solid hsl(210, 60%, 98%);
    color:  hsl(219, 12%, 42%);
    padding: 1rem;
    text-align: start;
    background-color: white;
    width: 33em;
    align-self: center;
}

.dot{
    color:  hsl(1, 90%, 64%);
}

.nat{
    width: 34rem;
}

.jacob{
    color:  hsl(219, 85%, 26%);
}

.chess{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and ( max-width: 700px) {

    body{
        max-width: 100vh;
    }

    .container{
        background-color: hsl(0, 0%, 100%);
        display: flex;
        flex-direction: column;
        padding: 0.2rem 1rem;
    }

    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding:  0.5rem;
        padding-bottom: 1rem;
    
    }
    
    h1{
        color: hsl(223, 25%, 23%);
        font-size: 1.8rem;
        padding-bottom:0rem;
    }
    
    .num3{
        background-color:  hsl(219, 85%, 26%);
        color: white;
        border-radius: 20%;
        margin: 0;
        font-size: large;
        padding: 0.2rem 0.8rem;
        
    
    }
    h3{
        color: hsl(219, 12%, 42%);
        padding-top: 0.4rem;
    }

    div{
        /* display: flex;
        min-height: 5rem;
        background-color:  hsl(0, 0%, 100%);
        margin: 0.2rem;
        align-items: center;
        justify-items: center;
        border-radius: 0.7rem; */
        width: 23rem;
    }

    img{
        padding: 0 0.8rem;
        width: 3rem;
    }

    .rizky{
        border: 3px solid hsl(210, 60%, 98%);
        color:  hsl(219, 12%, 42%);
        padding: 1rem;
        text-align: start;
        background-color: white;
        width: 14em;
        align-self: center;
    }
    
}